body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;

}



.logo{
    width: 50px;
}

i{
    cursor: pointer;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
    position:absolute ;
    display:flex;
      color:black ;
      padding: 2px;
      align-items: center;
}

.meal:hover .meal-layer{
    top: 0;
}

.nav-menu{
    z-index: 9;
}

.cursor-pointer{
    cursor: pointer;
}


.loading{
    z-index: 1889 ;
    display: flex;
}



.meal{
    position: relative ; overflow: hidden  ;cursor:pointer
}